module.exports = {
    apps: [
      {
        name: "adonis-app",
        script: "node",
        args: "build/bin/server.js",
        env: {
          NODE_ENV: "production",
          HOST: "0.0.0.0",
          PORT: "3333",
          APP_KEY: "EKZQ0Zuo8qV3BuZE8XYt7h-PmATvURU8",
          LOG_LEVEL: "info",
  
          DB_CONNECTION: "pgsql",
          DB_HOST: "34.2.139.16",
          DB_PORT: "5432",
          DB_USER: "superadmin",
          DB_PASSWORD: "Benity2139725",
          DB_DATABASE: "apu_kainnova_db",
          DB_SSL: "true",
  
          STORAGE_DRIVER: "gcs",
          GCP_PROJECT_ID: "apuxkainnova",
          GCP_CLIENT_EMAIL: "storage-admin@apuxkainnova.iam.gserviceaccount.com",
          GCP_PRIVATE_KEY: `-----BEGIN PRIVATE KEY-----
  MIIEvQIBADANBg...
  -----END PRIVATE KEY-----`,
          GCP_BUCKET_NAME: "kainnova-bucket",
          GCP_REGION: "asia-southeast1",
          GOOGLE_CLOUD_STORAGE_URL: "https://storage.googleapis.com/kainnova-bucket"
        }
      }
    ]
};   