module.exports = {
    apps: [
      {
        name: "adonis-app",
        script: "node",
        args: "build/bin/server.js",
        env: {
          NODE_ENV: "production",
          HOST: "0.0.0.0",
          PORT: "3333",
          APP_URL: "https://your-api-domain.example.com",
          ASSET_URL: "https://your-api-domain.example.com",
          STORAGE_DRIVER: "local",
          APP_KEY: "EKZQ0Zuo8qV3BuZE8XYt7h-PmATvURU8",
          LOG_LEVEL: "info",
  
          DB_CONNECTION: "pgsql",
          DB_HOST: "posgres",
          DB_PORT: "5432",
          DB_USER: "rifqiaria",
          DB_PASSWORD: "secret",
          DB_DATABASE: "apu_kainnova_db",
          DB_SSL: "true"
        }
      }
    ]
};   